<div class="container">
	
    <header>
        <h1 id="title">Update Question</h1>
    </header> 
    <form (ngSubmit) = "onSubmit()">
    
        <div class="form-group">
            <label for="comment">Add the Description</label>

            <textarea type="text" [value]="question.questionDscp" class ="form-control input-textarea" id = "questionDscp" [(ngModel)] = "question.questionDscp" name = "questionDscp"></textarea>
        </div>
    
    
        <button class = "btn btn-success" type ="submit">Submit</button>
    
    </form>
    </div>