<section class="row-2">
    <section>
      <h2>The Importance of Employee Surveys in Driving Workplace Satisfaction and Success</h2> 
      <p>
        An employee survey is a valuable tool for organizations to assess the
         perceptions and attitudes of their workforce. This type of survey allows employees 
         to provide anonymous feedback on various aspects of their job and workplace environment, 
         including satisfaction with their job duties, salary, benefits, and overall job satisfaction.
      </p>
      <p><strong> Give survey - </strong> <a (click)="onClick()" style="cursor: pointer;">click here</a></p>
    </section>
  </section>